@use "@/styles/common/flex.scss" as flexUtil;

.container{
  @include flexUtil.flex-between;
  height: 0.42rem;
  margin-bottom: 0.25rem;
  .title{
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 550;
    color: rgb(36,47,87);
  }
  .fun-wrapper{
    .ipt-container{
      background-color: #FFF;
      padding: 0.09rem 0.2rem;
      border-radius: 1rem;
      .search-btn{
        background-color: #FFF;
        border: 0;
        cursor: pointer;
        font-size: 18px;
        &:hover{
          color: #0085ff;
        }
      }
      input{
        color: #999;
        border: 0;
        outline: none;
      }
    }
  }
}