@font-face {
  font-family: "iconfont"; /* Project id 4858330 */
  src: url('//at.alicdn.com/t/c/font_4858330_zdis6677q8.woff2?t=1744443973034') format('woff2'),
       url('//at.alicdn.com/t/c/font_4858330_zdis6677q8.woff?t=1744443973034') format('woff'),
       url('//at.alicdn.com/t/c/font_4858330_zdis6677q8.ttf?t=1744443973034') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-component-conf:before {
  content: "\e85f";
}

.icon-form-conf:before {
  content: "\e619";
}

.icon-more:before {
  content: "\e7e8";
}

.icon-show:before {
  content: "\ebcc";
}

.icon-hide:before {
  content: "\ebcd";
}

.icon-ico:before {
  content: "\e630";
}

.icon-delete-area:before {
  content: "\e60f";
}

.icon-copy-area:before {
  content: "\e620";
}

.icon-form-input:before {
  content: "\eb94";
}

.icon-form-title:before {
  content: "\e61d";
}

.icon-copy:before {
  content: "\e618";
}

.icon-star:before {
  content: "\e8bc";
}

.icon-view:before {
  content: "\e613";
}

.icon-edit:before {
  content: "\e64f";
}

.icon-delete:before {
  content: "\e7ea";
}

.icon-ipt:before {
  content: "\e607";
}

.icon-add:before {
  content: "\e641";
}

.icon-quit:before {
  content: "\e6bc";
}

.icon-home:before {
  content: "\e7e1";
}

.icon-github:before {
  content: "\e691";
}

.icon-zhankai:before {
  content: "\e6cc";
}