.container{
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFF;
  box-sizing: border-box;
  padding: 0.05rem 0;
  border: 1px solid #eae5e5;
  .item-wrapper{
    cursor: pointer;
    padding: 0.08rem 0.1rem;
    .ico{
      color: #999;
      margin-right: 0.07rem;
    }
    &:hover{
      background-color: #f0f0f0;
    }
  }
}